### macOs ###
.DS_Store
.DS_Store?
*._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### Logs ###
*.log

### Intellij ###
.idea/

### Conf files ###
# Local Supervisord
btcinfo/supervisord.conf

# Local btcinfo for Supervisord
btcinfo/btcinfo.conf

### Binaries ###
# btcinfo
btcinfo/bin/
